  .ReactFlipCard {
    margin: 25px;
    text-align: center;
  }

  .ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    box-sizing: border-box;
    margin: auto;
    width: 500px;
    height: 300px;
  }
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 25px;
  }
  .ReactFlipCard__Front {
    background-color: #eee;
  }
  .ReactFlipCard__Back {
    background-color: #cef;
  }

  #example {
    text-align: center;
  }

 .create-title {
   text-align: center;
   color: #BADA55;
 }

label, button, a {
    margin-left: 2px;
}

a.menu-item, a.navbar-brand.logo-nav {
    margin-top: 3px;
}

body,
html {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    max-width: 100%;
}

/*Start of Create Page Stylesheet*/
#contact{
    padding:10px 0 10px;
}

.inner-contact {
    /*margin-top: 45px;*/
    /*padding: 40px;*/
    /*height: 320px;*/
    text-align: center;
    margin: auto;
}

.contact-text{
    margin:45px auto;
}

.mail-message-area{
    width:100%;
    padding:0 15px;
}

.mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
}

.not-visible-message{
    height:0px;
    opacity: 0;
}

.visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
}

/* Input Styles */

.form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:15px;
    color:#727272 !important;
    font-size:16px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.form:hover{
    border:1px solid #8BC3A3;
}

.form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
}

.bentoNameField {
    max-width: 200px;
}

.leftInfo {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.rightInfo {
    display: inline-block;
    margin: 10px;
}

/*New Nori Style*/

.textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
}

.nori-textarea{
    /*height: 50%;*/
    /*max-height: 120px;*/
    width: auto;
    margin: 0 auto;
    position: relative;
    display: inline-block
}

/* Generic Button Styles */

.button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.button:hover{
    background:#BADA55;
    color:white;
}

/* Send Button Styles */

.form-btn{
    /*width:180px;*/
    display: block;
    height: auto;
    padding:15px 15px;
    color:#fff;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
}

.form-btn:hover {
    background:#111;
    color: white;
    border:none;
}

.form-btn:active {
    opacity: 0.9;
}

center {
    margin: 0 auto;
}

input {
    position: relative;
}

.new-nori {
    margin: 0 auto;
    padding: 5px;
    height: 10%;
    min-height: 210px;
}

.add-nori-button{
    width:60px;
    display:inline-block;
    height: auto;
    padding:15px 15px;
    color:#fff;
    border:none;
    border-radius:5px 20px 5px; /* horizontal radius / vertical radius */
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    text-align: center
}

.add-delete-nori {

}

.imageDropSection {
    max-width: 240px;
}

.rteSection {

}

/* DISPLAY PAGE */

.cardSpace {
    margin: auto;
}

.changeNoriSection {
    margin: auto;
}

.row {
    width: 100%;
}

.cardSection {
    max-width: 500px;
    margin: 0 auto;
}

.buttonSection {
    text-align: center;
    margin: auto;
}

.changeToNoriSection {
    text-align: center;
    margin-top: 25px;
}

.sharingSpace {
    margin: auto;
}

.sharingSection {
    text-align: center;
}

.imageSection {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.noriImage {
    max-height: 150px;
}

input[type=tel].cardNumberField {
    width: 40px;
    text-align: center;
}

input[type=text].shortenURLField {
    width: 185px;
    text-align: center;
}

.DraftEditor-root {
    margin: 0 auto;
    width: 85%
}

.modal-title {
    display: inline-block;
}

.moveFromLeft {
    -webkit-animation: moveFromLeft .6s ease both;
    animation: moveFromLeft .6s ease both;
}

.moveFromRight {
    -webkit-animation: moveFromRight .6s ease both;
    animation: moveFromRight .6s ease both;
}

/* BROWSE PAGE */

.userBentos {
    text-align: center;
    color: #BADA55;
}

.favoriteBentos {
    text-align: center;
    color: #BADA55;
}

.popularBentos {
    text-align: center;
    color: #BADA55;
}

.browse-title {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.browseSection {
    margin: auto;
}

.bento-metadata {
    color: black;
    text-align: center;
}

.tile-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 220px;
    display: block;
    margin: auto;
}



/* REACT DECK */

.deck {
    list-style: none;
    height: 350px;
    padding: 10px;
}


.card {
    display: block;
    width: 100%;
    perspective: 1000px;
    position: absolute;
}

.card-transform {
    transition: 0.10s;
    transform-style: preserve-3d;
    position: relative;
}

/* starts the animation */
.card-flipped .card-transform {
    transform: rotateY(175deg);
}

.card, .card-front, .card-back {
    width: 100%;
    margin: 0 auto;
    height: 300px;
}

.img-fluid {
    margin: auto;
    max-height: 230px;
}

.card-front, .card-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid black;
}

.frontText, .backText {
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 100%;
    overflow-y: auto;
}

.frontTextImg, .backTextImg {
    padding-top: 10px;
    padding-bottom: 10px;
    max-height: 45%;
    overflow-y: auto;
}

.card-front {
    -webkit-perspective-origin: 0% 0%;
    perspective-origin: 0% 0%;
    -webkit-perspective: 10000px;
    perspective: 10000px;
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.card-back {
    -webkit-perspective-origin: 0% 0%;
    perspective-origin: 0% 0%;
    -webkit-perspective: 10000px;
    perspective: 10000px;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.center-within-viewport {
    left: 50%;
    right: 50%;
    top: 50%;
    margin-top: -150px;
    margin-left: -250px;
}

.index-card {
    text-align: center;
    color: #555;
}

.index-card, .index-card .card-front, .index-card .card-back {
    height: 300px;
}

.index-card .card-front, .index-card .card-back {
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.index-card .card-front p {
    font-size: 20px;
    text-align: center;
    margin: 0;
    overflow: auto;
}

.index-card .card-back p {
    font-size: 20px;
    text-align: center;
    margin: 0;
    overflow: auto;
}

.index-card img {
    margin: 5px;
}

.deck > :nth-child(1n+0) { transform: rotate(2.02deg); }
.deck > :nth-child(2n+0) { transform: rotate(-0.87deg); }
.deck > :nth-child(3n+0) { transform: rotate(-0.16deg); }
.deck > :nth-child(4n+0) { transform: rotate(1.84deg); }
.deck > :nth-child(5n+0) { transform: rotate(0.32deg); }
.deck > :nth-child(6n+0) { transform: rotate(1.63deg); }
.deck > :nth-child(7n+0) { transform: rotate(0.44deg); }
.deck > :nth-child(8n+0) { transform: rotate(-0.35deg); }
.deck > :nth-child(9n+0) { transform: rotate(2.47deg); }
.deck > :nth-child(10n+0) { transform: rotate(-2.27deg); }

/* BROWSE PAGE */

.carousel-card {
    max-width: 500px;
    perspective: 1000px;
}

.caption {
    padding-top: 30px;
    width: 100%;
    overflow: hidden;
}

.slick-margin {
    margin: 20px;
}

.container {
    margin: 20px;
}

.slick-prev:before, .slick-next:before { 
    color:black !important;
}

.slick-prev {
    z-index: 1;
  }

.slick-next {
    z-index: 1;
}

.exploreImage {
    margin: auto;
    padding-top: 20px;
    width: 180px;
    height: 200px;
    display: flex;
    line-height: 200px;
}

/* SEARCH PAGE */

.searchSection {
    margin-bottom: 10px;   
}

.searchGrid {
    margin: auto;
    text-align: center;
}

.scrollSection {
    height: 100vh;
}

.scrollToTopButton {
    white-space: normal;
}

.filterSection {
    margin: 20px;
}

.filterButtons {
    margin-bottom: 5px;
}

.search-card {
    margin: 20px;
    max-width: 500px;
    perspective: 1000px;
}

.bentoDescription {
    padding: 5px;
    height: 25ex;
    overflow-y: auto;
}

.searchDescription {
    padding-left: 10px;
    padding-right: 10px;
    height: 17.5ex;
    overflow-y: auto;
}

.search-item {
    display: inline-block;
    width: 240px;
    margin: 10px;
}

.search-data {
    text-align: center;
}

img.search-data {
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

.slick-slide {
    height: 100%;
    min-height: 1px;
}

div.slick-slide.slick-active.thumbnailSpace {
    display: flex;
    justify-content: center;
}

div.thumbnailSpace.wow.bounceIn.animated {
    padding: 5px;
    justify-content: center;
}

.thumbnail {
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(142, 198, 78, 0.5);
    max-width: 300px;
    height: 600px;
    margin: auto;
}
.thumbnail:hover {
    border-color: #BADA55;
    border-width: 5px;
}

.searchBox {
    text-align: center;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(142, 198, 78, 0.5);
    width: 240px;
    height: 500px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border 0.2s ease-in-out;
}
.searchBox:hover {
    border-color: #BADA55;
    border-width: 5px;
}

.searchBoxButtons {
    display: inline-block;
    margin-bottom: 15px;
}

/*.thumbnail img {
    padding: 20px;
    height: 200px;
    max-width: 240px;
}*/

.searchImage {
    padding-top: 20px;
    width: 180px;
    height: 200px;
    display: inline-block;
    line-height: 200px;
}

.canvasClass {
    margin: auto;
    width: 100%;
    padding: 10px;
    display: block;
}

.canvasContainer {
    margin: auto;
    width: 100%;
}

.container {
    margin: auto;
    width: 100%;
}

.buttonContainer {
    width:100%;
    text-align:center;
}

.speechButton {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
}

.exploreItems {
    text-align: center;
}

/*CSS FOR SCROLL TO TOP BUTTON*/
#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    left: 10px;
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    left: 10px;
}

/*CSS FOR DROPZONE*/
.dropzone {
    /*text-align: center;*/
    border: 4px dashed #ccc;
    /*height: 200px;*/
    margin: 0 10px;
    position: relative;
    /*min-width: 220px;*/
    height: 182px; 
    width: 162px;
}

.dropzone p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
}

.dropzone input[type="file"] {
    height: 100%;
    left: 0;
    outline: none;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.dropzone + .status {
    border-radius: 5px;
    margin: 10px 10px 0;
    padding: 15px;
    text-align: center;
}

.edit-nori-right {
    justify-content: center;
}

.nori-image {
    max-height: 182px; 
    max-width: 162px;
}

.RichTextEditor__editor___1QqIU {
    max-height: 90px;
    overflow: auto;
}

.RichTextEditor__root___2QXK- {
    /*width: 90%;*/
    /*min-width: 400px;*/
    max-width: 400px
}

.rteArea {
    text-align: center;
}

.textFieldSection {
    margin: auto;
}

#hero-area {
    padding:0px 0;
    background: rgba(0, 0, 0, 0) linear-gradient(135deg, #8ec64e 0%, #41aba0 100%) repeat scroll 0 0;
}

#hero-area .block {
    padding: 70px;
}
#hero-area .block  h1 {
    margin-bottom: 25px;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 2px;
    position: relative;
    line-height: 40px;
}

#hero-area .block  h2 {
    margin-bottom: 15px;
    letter-spacing: 1px;
    position: relative;
}


#hero-area .block p {
    color: #fff;
    font-size: 18px; 
    font-weight: 300;
    line-height: 30px;
}

#hero-area .block div {
    padding-top : 25px;
}

h1.lp{
    font-size: 44px;
    line-height: 56px;
    color: #fff;
    font-weight: 300;
    margin: 0px;
}

h2.lp{
    font-size: 30px;
    line-height: 35px;
    color: #fff;
    font-weight: 300;
    margin: 0px;
}

p.lp{
    font-size: 16px;
    line-height: 25px;
    margin: 0px;
}

.bento-area {
    margin-top: 20px;
}

.landing-bento {
    padding: 3px;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(142, 198, 78, 0.5);
    width: 240px;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: border 0.2s ease-in-out;
}
.landing-bento:hover {
    border-color: #BADA55;
    border-width: 5px;
}

.landingItems {
    text-align: center;
}

.landingButtons {
    text-align: center;
}

.card-title {
    text-align: center;
}

.line-break{
    padding: 0px;
    margin: 10px;
    border: 0;
    border-top: 1px solid #eee;
}

.card-text {
    padding: 10px;
    text-align: center;
    max-height: 200px;
    overflow-y: auto;
}

[data-notify="progressbar"] {
    margin-bottom: 0px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 5px;
}

.ops-div {
    padding-right: 55px;
    margin: 10px;
    float: left;
}

.editSection {
    text-align: center;
    overflow: hidden;
}

.editPlaceholder {
    font-weight: 400;
}

.cover-edit-image {
   position: relative;
   width: 120px;
}

.cover-image-fluid {
    height:175px;
}

/* LANDING PAGE */

.landingContainer {
    display: flex;
    flex-flow: column wrap;
    max-height: 1000px;
}

.card-block {
    /*width: 240px;*/
}

@media screen and (max-width: 2559px) {
  .column10 {
    display: none !important;
  }  
}
@media screen and (max-width: 2303px) {
  .column10 {
    display: none !important;
  }
  .column9 {
    display: none !important;
  }  
}
@media screen and (max-width: 2047px) {
  .column10 {
    display: none !important;
  }
  .column9 {
    display: none !important;
  }
  .column8 {
    display: none !important;
  }
}
@media screen and (max-width: 1791px) {
  .column10 {
    display: none !important;
  }
  .column9 {
    display: none !important;
  }
  .column8 {
    display: none !important;
  }
  .column7 {
    display: none !important;
  } 
}
@media screen and (max-width: 1535px) {
  .column10 {
    display: none !important;
  }
  .column9 {
    display: none !important;
  }
  .column8 {
    display: none !important;
  }
  .column7 {
    display: none !important;
  }
  .column6 {
    display: none !important;
  } 
}
@media screen and (max-width: 1279px) {
  .column10 {
    display: none !important;
  }
  .column9 {
    display: none !important;
  }
  .column8 {
    display: none !important;
  }
  .column7 {
    display: none !important;
  }
  .column6 {
    display: none !important;
  }
  .column5 {
    display: none !important;
  }
}
@media screen and (max-width: 1023px) {
  .column10 {
    display: none !important;
  }
  .column9 {
    display: none !important;
  }
  .column8 {
    display: none !important;
  }
  .column7 {
    display: none !important;
  }
  .column6 {
    display: none !important;
  }
  .column5 {
    display: none !important;
  }  
  .column4 {
    display: none !important;
  }
}
@media screen and (max-width: 767px) {
  .column10 {
    display: none !important;
  }
  .column9 {
    display: none !important;
  }
  .column8 {
    display: none !important;
  }
  .column7 {
    display: none !important;
  }
  .column6 {
    display: none !important;
  }
  .column5 {
    display: none !important;
  }  
  .column4 {
    display: none !important;
  }
  .column3 {
    display: none !important;
  }
}
@media screen and (max-width: 511px) {
  .column10 {
    display: none !important;
  }
  .column9 {
    display: none !important;
  }
  .column8 {
    display: none !important;
  }
  .column7 {
    display: none !important;
  }
  .column6 {
    display: none !important;
  }
  .column5 {
    display: none !important;
  }  
  .column4 {
    display: none !important;
  }
  .column3 {
    display: none !important;
  }
  .column2 {
    display: none !important;
  }
}

.column1, .column2, .column3, .column4, .column5, .column6, .column7, .column8, .column9, .column10 {
    text-align: -webkit-center;
}