  .ReactFlipCard {
    margin: 25px;
    text-align: center;
  }

  .ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    box-sizing: border-box;
    margin: auto;
    width: 500px;
    height: 300px;
  }
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 25px;
  }
  .ReactFlipCard__Front {
    background-color: #eee;
  }
  .ReactFlipCard__Back {
    background-color: #cef;
  }

  #example {
    text-align: center;
  }

 .create-title {
   margin-top: 25px;
   text-align: center;
   color: #BADA55;
 }

label, button {
    margin-left: 2px;
}

/*Start of Create Page Stylesheet*/
 #contact{
    padding:10px 0 10px;
  }

  .inner-contact {
    height: 320px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:15px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

/*New Nori Style*/

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }

  .nori-textarea{
    height: 10%;
    max-height: 120px;
    width: 30%;
    margin: 0 auto;
    position: relative;
    display: inline-block
  }

  .RichTextEditor__root___2QXK-{
    width: 100%
  }


/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#BADA55;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px 15px;
    color:#fff;
    background:#BADA55;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin: 0 auto;
}
input {
    position: relative;
}

.new-nori {
    margin: 0 auto;
    padding: 5px;
    height: 10%;
}

.add-nori-button{
    width:50px;
    display:inline-block;
    height: auto;
    padding:15px 15px;
    color:#fff;
    background:#BADA55;
    border:none;
    border-radius:5px 20px 5px; /* horizontal radius / vertical radius */
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    text-align: center
}


/*Landing Page CSS*/

body,
html {
    width: 100%;
    height: 100%;
    padding-top: 25px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    /*font-weight: 700;*/
}

.logo-title, .default-font {
    font-family: Comfortaa;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    padding-bottom: 10px;
}

.logo-nav {
    font-family: Comfortaa;
    font-style: normal;
	font-variant: normal;
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.intro-header {
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/green-landing.jpg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
}

.navbar .navbar-collapse.in {
    max-height: 80vh !important;
    overflow-y: scroll !important;
    overflow-x: hidden !important;
}

/* DISPLAY PAGE */

.cardSection {
    width: 500px;
    margin: 0 auto;
}

.buttonSection {
    text-align: center;
    margin: 3px;
}

.changeToNoriSection {
    text-align: center;
}

.noriImage {
    margin: 10px;
    max-width: 50%;
    max-height: 50%;
}

/* USER PAGE */

.userBentos {
    text-align: center;
    color: #BADA55;
}

.favoriteBentos {
    text-align: center;
    color: #BADA55;
}

.popularBentos {
    text-align: center;
    color: #BADA55;
}

.DraftEditor-root {
    margin: 0 auto;
    width: 85%
}

/* SEARCH PAGE */

.searchSection {
    color: #BADA55;    
}

.bento-metadata {
    color: black;
    text-align: center;
}

/* REACT DECK */

.deck {
  list-style: none;
  /*position: relative;*/
  height: 350px;
  /*max-width: 500px;*/
  padding: 10px;
}


.card {
  display: block;
  /*min-width: 300px;*/
  /*max-width: 500px;*/

  width: 100%;
  perspective: 1000px;
  position: absolute;
}

.card-transform {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

/* starts the animation */
.card-flipped .card-transform {
  transform: rotateY(175deg);
}

.card, .card-front, .card-back {
  width: 100%;
  margin: 0 auto;
  height: 300px;
}

.card-front, .card-back {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid black;
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
}

.center-within-viewport {
  left: 50%;
  right: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -250px;
}

.index-card {
  /*font-family: 'Reenie Beanie', cursive;*/
  text-align: center;
  color: #555;
}

.index-card, .index-card .card-front, .index-card .card-back {
  /*width: 100%;*/
  height: 300px;
}

.index-card .card-front, .index-card .card-back {
  /*padding: 5px;*/
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.index-card .card-front p {
  font-size: 20px;
  /*line-height: 300px;*/
  text-align: center;
  margin: 0;
  overflow: scroll;
}

.index-card .card-back p {
  font-size: 20px;
  /*line-height: 300px;*/
  text-align: center;
  margin: 0;
  overflow: scroll;
}

.index-card img {
    margin: 5px;
}

.deck > :nth-child(1n+0) { transform: rotate(2.02deg); }
.deck > :nth-child(2n+0) { transform: rotate(-0.87deg); }
.deck > :nth-child(3n+0) { transform: rotate(-0.16deg); }
.deck > :nth-child(4n+0) { transform: rotate(1.84deg); }
.deck > :nth-child(5n+0) { transform: rotate(0.32deg); }
.deck > :nth-child(6n+0) { transform: rotate(1.63deg); }
.deck > :nth-child(7n+0) { transform: rotate(0.44deg); }
.deck > :nth-child(8n+0) { transform: rotate(-0.35deg); }
.deck > :nth-child(9n+0) { transform: rotate(2.47deg); }
.deck > :nth-child(10n+0) { transform: rotate(-2.27deg); }

/* USER PAGE */

.carousel-card {
    /*display: block;*/
    /*margin: 20px;*/
    max-width: 500px;
    perspective: 1000px;
}

.slick-margin {
    margin: 20px;
}

.container {
    margin: 20px;
}

.slick-prev:before, .slick-next:before { 
    color:black !important;
}

.slick-prev {
    z-index: 1;
  }

.slick-next {
    z-index: 1;
}

/* SEARCH PAGE */

.scrollSection {
    height: 100vh;
}

.scrollToTopButton {
    /*position:absolute;
    bottom:0;*/
    white-space: normal;
}

.filterSection {
    margin: 20px;
    /*text-align: center;*/
}

.filterButtons {
    margin-bottom: 5px;
}

.search-card {
    /*display: block;*/
    margin: 20px;
    max-width: 500px;
    perspective: 1000px;
}

.ellipsis {
  text-overflow: ellipsis;
  height: 7.5ex;

  /* Required for text-overflow to do anything */
  white-space: wrap;
  overflow: scroll;
}

.thumbnail {
    margin: 0 auto;
    width: 200px;
    max-height: 500px;
}

.thumbnail img {
    width: 180px;
    height: auto;
}



/*CSS FOR DROPZONE*/
.dropzone {
    border: 4px dashed #ccc;
    height: 200px;
    margin: 0 10px;
    position: relative;
    width: auto;
}

.dropzone p {
    height: 100%;
    line-height: 200px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.dropzone input[type="file"] {
    height: 100%;
    left: 0;
    outline: none;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.dropzone + .status {
    border-radius: 5px;
    margin: 10px 10px 0;
    padding: 15px;
    text-align: center;
}