  .ReactFlipCard {
    margin: 25px;
    text-align: center;
  }

  .ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    box-sizing: border-box;
    margin: auto;
    width: 500px;
    height: 300px;
  }
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 25px;
  }
  .ReactFlipCard__Front {
    background-color: #eee;
  }
  .ReactFlipCard__Back {
    background-color: #cef;
  }

  #example {
    text-align: center;
  }

 .create-title {
   margin-top: 25px;
   text-align: center;
   color: #BADA55;
 }

label, button, a {
    margin-left: 2px;
}

a.menu-item, a.navbar-brand.logo-nav {
    margin-top: 3px;
}

body,
html {
    width: 100%;
    height: 100%;
    padding-top: 25px;
    max-width: 100%;
    overflow-x: hidden;
}

/*Start of Create Page Stylesheet*/
 #contact{
    padding:10px 0 10px;
  }

  .inner-contact {
    margin-top: 45px;
    padding: 40px;
    height: 320px;
  }

  .contact-text{
    margin:45px auto;
  }

  .mail-message-area{
    width:100%;
    padding:0 15px;
  }

  .mail-message{
    width: 100%;
    background:rgba(255,255,255, 0.8);
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    transition: all 0.7s;
    margin:0 auto;
    border-radius: 0;
  }

  .not-visible-message{
    height:0px;
    opacity: 0;
  }

  .visible-message{
    height:auto;
    opacity: 1;
    margin:25px auto 0;
  }

/* Input Styles */

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:15px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

/*New Nori Style*/

  .textarea{
    height: 200px;
    max-height: 200px;
    max-width: 100%;
  }

  .nori-textarea{
    height: 50%;
    max-height: 120px;
    width: auto;
    margin: 0 auto;
    position: relative;
    display: inline-block
  }

  .RichTextEditor__root___2QXK-{
    width: 100%
  }


/* Generic Button Styles */

  .button{
    padding:8px 12px;
    background:#0A5175;
    display: block;
    width:120px;
    margin:10px 0 0px 0;
    border-radius:3px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-align:center;
    font-size:0.8em;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .button:hover{
    background:#BADA55;
    color:white;
  }

/* Send Button Styles */

  .form-btn{
    width:180px;
    display: block;
    height: auto;
    padding:15px 15px;
    color:#fff;
    background:#BADA55;
    border:none;
    border-radius:3px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin:auto;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin: 0 auto;
}
input {
    position: relative;
}

.new-nori {
    margin: 0 auto;
    padding: 5px;
    height: 10%;
    min-height: 210px;
}

.add-nori-button{
    width:60px;
    display:inline-block;
    height: auto;
    padding:15px 15px;
    color:#fff;
    background:#BADA55;
    border:none;
    border-radius:5px 20px 5px; /* horizontal radius / vertical radius */
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 5px;
    margin-bottom: 5px;
    box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0,0,0, 0.10);
    text-align: center
}

/* DISPLAY PAGE */

.cardSection {
    width: 500px;
    margin: 0 auto;
}

.buttonSection {
    text-align: center;
    margin: 3px;
}

.changeToNoriSection, .sharingSection {
    text-align: center;
}

.imageSection {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.noriImage {
    max-height: 150px;
}

.cardNumberField {
    width: 40px;
}

.shortenURLField {
    width: 200px;
}

.DraftEditor-root {
    margin: 0 auto;
    width: 85%
}

.modal-title {
    display: inline-block;
}

.moveFromLeft {
    -webkit-animation: moveFromLeft .6s ease both;
    animation: moveFromLeft .6s ease both;
}

.moveFromRight {
    -webkit-animation: moveFromRight .6s ease both;
    animation: moveFromRight .6s ease both;
}

/* USER PAGE */

.userBentos {
    text-align: center;
    color: #BADA55;
}

.favoriteBentos {
    text-align: center;
    color: #BADA55;
}

.popularBentos {
    text-align: center;
    color: #BADA55;
}

/* SEARCH PAGE */

.searchSection {
    margin-bottom: 10px;   
}

.bento-metadata {
    color: black;
    text-align: center;
}

/* REACT DECK */

.deck {
  list-style: none;
  height: 350px;
  padding: 10px;
}


.card {
  display: block;
  width: 100%;
  perspective: 1000px;
  position: absolute;
}

.card-transform {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
}

/* starts the animation */
.card-flipped .card-transform {
  transform: rotateY(175deg);
}

.card, .card-front, .card-back {
  width: 100%;
  margin: 0 auto;
  height: 300px;
}

.img-fluid {
  margin: auto;
  max-height: 200px;
}

@media (max-width: 1200px) {
  #photos {
  -moz-column-count:    5;
  -webkit-column-count: 5;
  column-count:         5;
  }
}
@media (max-width: 1000px) {
  #photos {
  -moz-column-count:    4;
  -webkit-column-count: 4;
  column-count:         4;
  }
}
@media (max-width: 700px) {
  #photos {
  -moz-column-count:    3;
  -webkit-column-count: 3;
  column-count:         3;
  }
}
@media (max-width: 550px) {
  #photos {
  -moz-column-count:    2;
  -webkit-column-count: 2;
  column-count:         2;
  }
}
@media (max-width: 300px) {
  #photos {
  -moz-column-count:    1;
  -webkit-column-count: 1;
  column-count:         1;
  }
}

.card-front, .card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid black;
}

.frontText, .backText {
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 100%;
  overflow-y: scroll;
}

.card-front {
  -webkit-perspective-origin: 0% 0%;
  perspective-origin: 0% 0%;
  -webkit-perspective: 10000px;
  perspective: 10000px;
  -webkit-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.card-back {
  -webkit-perspective-origin: 0% 0%;
  perspective-origin: 0% 0%;
  -webkit-perspective: 10000px;
  perspective: 10000px;
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.center-within-viewport {
  left: 50%;
  right: 50%;
  top: 50%;
  margin-top: -150px;
  margin-left: -250px;
}

.index-card {
  text-align: center;
  color: #555;
}

.index-card, .index-card .card-front, .index-card .card-back {
  height: 300px;
}

.index-card .card-front, .index-card .card-back {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.index-card .card-front p {
  font-size: 20px;
  text-align: center;
  margin: 0;
  overflow: scroll;
}

.index-card .card-back p {
  font-size: 20px;
  text-align: center;
  margin: 0;
  overflow: scroll;
}

.index-card img {
    margin: 5px;
}

.deck > :nth-child(1n+0) { transform: rotate(2.02deg); }
.deck > :nth-child(2n+0) { transform: rotate(-0.87deg); }
.deck > :nth-child(3n+0) { transform: rotate(-0.16deg); }
.deck > :nth-child(4n+0) { transform: rotate(1.84deg); }
.deck > :nth-child(5n+0) { transform: rotate(0.32deg); }
.deck > :nth-child(6n+0) { transform: rotate(1.63deg); }
.deck > :nth-child(7n+0) { transform: rotate(0.44deg); }
.deck > :nth-child(8n+0) { transform: rotate(-0.35deg); }
.deck > :nth-child(9n+0) { transform: rotate(2.47deg); }
.deck > :nth-child(10n+0) { transform: rotate(-2.27deg); }

/* USER PAGE */

.carousel-card {
    max-width: 500px;
    perspective: 1000px;
}

.caption {
    width: 100%;
    overflow: hidden;
}

.slick-margin {
    margin: 20px;
}

.container {
    margin: 20px;
}

.slick-prev:before, .slick-next:before { 
    color:black !important;
}

.slick-prev {
    z-index: 1;
  }

.slick-next {
    z-index: 1;
}

/* SEARCH PAGE */

.scrollSection {
    height: 100vh;
}

.scrollToTopButton {
    white-space: normal;
}

.filterSection {
    margin: 20px;
}

.filterButtons {
    margin-bottom: 5px;
}

.search-card {
    margin: 20px;
    max-width: 500px;
    perspective: 1000px;
}

.bentoDescription {
    padding: 5px;
    height: 25ex;
    overflow-y: scroll;
}

.searchDescription {
    padding-left: 10px;
    padding-right: 10px;
    height: 17.5ex;
    overflow-y: scroll;
}

.search-item {
    display: inline-block;
    width: 240px;
    margin: 10px;
}

.search-data {
    text-align: center;
}

img.search-data {
    min-height: 200px;
}

.slick-slide {
    height: 100%;
    min-height: 1px;
}

div.slick-slide.slick-active.thumbnailSpace {
    display: flex;
    justify-content: center;
}

.thumbnail {
    border: groove;
    box-shadow: 0 4px 8px 0 rgba(142, 198, 78, 0.5);
    width: 300px;
    height: 600px;
}

.searchBox {
    text-align: center;
    margin: 5px;
    border: groove;
    box-shadow: 0 4px 8px 0 rgba(142, 198, 78, 0.5);
    width: 240px;
    height: 500px;
}

.thumbnail img {
    padding-top: 20px;
    width: 180px;
    height: auto;
    max-height: 200px;
}

.searchBox img {
    padding-top: 20px;
    width: 180px;
    height: auto;
    max-height: 200px;
}

.exploreItems {
    text-align: center;
}

img.exploreImage {
    min-height: 200px;
}

/*CSS FOR SCROLL TO TOP BUTTON*/
#top-link-block.affix-top {
    position: absolute; /* allows it to "slide" up into view */
    bottom: -82px;
    left: 10px;
}
#top-link-block.affix {
    position: fixed; /* keeps it on the bottom once in view */
    bottom: 18px;
    left: 10px;
}

/*CSS FOR DROPZONE*/
.dropzone {
    border: 4px dashed #ccc;
    height: 200px;
    margin: 0 10px;
    position: relative;
    min-width: 220px;
}

.dropzone p {
  display: inline-block;
    height: 100%;
    line-height: 200px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.dropzone input[type="file"] {
    height: 100%;
    left: 0;
    outline: none;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.dropzone + .status {
    border-radius: 5px;
    margin: 10px 10px 0;
    padding: 15px;
    text-align: center;
}

.nori-image {
  max-height: 182px; 
  max-width: 162px
}

.RichTextEditor__editor___1QqIU {
  height: 90px
}

.RichTextEditor__root___2QXK- {
  min-width: 460px
}

#hero-area {
  padding:0px 0;
  background: rgba(0, 0, 0, 0) linear-gradient(135deg, #8ec64e 0%, #41aba0 100%) repeat scroll 0 0;
  margin-top: 73px;
}

#hero-area .block {
  padding: 70px;
}
#hero-area .block  h1 {
  margin-bottom: 25px;
  text-transform: uppercase;
  font-size: 40px;
  letter-spacing: 2px;
  position: relative;
  line-height: 40px;
}

#hero-area .block  h2 {
  margin-bottom: 15px;
  letter-spacing: 1px;
  position: relative;
}


#hero-area .block p {
    color: #fff;
    font-size: 18px; 
    font-weight: 300;
    line-height: 30px;
}

#hero-area .block div {
  padding-top : 25px;
}

h1.lp{
    font-size: 44px;
    line-height: 56px;
    color: #fff;
    font-weight: 300;
    margin: 0px;
}

h2.lp{
  font-size: 30px;
  line-height: 35px;
  color: #fff;
  font-weight: 300;
  margin: 0px;
}

p.lp{
    font-size: 16px;
    line-height: 25px;
    margin: 0px;
}

#bento-area {
  margin-top: 20px;
}

.landing-bento {
  /*background: rgba(0, 0, 0, 0) linear-gradient(135deg, #8ec64e 0%, #41aba0 100%) repeat scroll 0 0;*/
  padding: 5px;
  margin: 10px;
  border: groove;
  box-shadow: 0 4px 8px 0 rgba(142, 198, 78, 0.5);
  /*min-width: 180px;*/
  width: 180px;
}

.landingbento{
  padding: 0px;
  margin: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eee;
}

.card-text {
  max-height: 200px;
  overflow-y: scroll;
}

[data-notify="progressbar"] {
	margin-bottom: 0px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 5px;
}

.wow {
visibility: visible !important;
} 
